{% extends "blog/base.html" %}
{% block content %}

<h1>Клуб двух разрабов</h1>

<IMG class = "displayed" src = "https://qdsibpkizystoiqpvoxo.supabase.co/storage/v1/object/sign/static/user/5fccbf2692165252288040.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzdGF0aWMvdXNlci81ZmNjYmYyNjkyMTY1MjUyMjg4MDQwLmpwZyIsImlhdCI6MTY5NjMzMDkzMywiZXhwIjoxNzI3ODY2OTMzfQ.INDw14J8CiK0PfSNY98fFYVslc74cY2IhuUEb8ihGV4&t=2023-10-03T11%3A02%3A15.663Z"
     height="500px" alt="Фото в цвете">

<p>Мы занимаемся разработкой телеграм-ботов на aiogram и Pyrogram. В нашем портфолио есть несколько успешных проектов:</p>

<ul>
    <li>Бот-программа лояльности с элементами геймификации для НКО "Точка Кипения Омск"</li>
    <li>Информационный бот для компании "Рога и копыта"</li>
    <li>Бот-помощник для онлайн-магазина "Счастливый слон"</li>
</ul>

<p>Мы создаем ботов любой сложности, используя библиотеки aiogram и Pyrogram. Готовы взяться за интересные проекты в сфере чат-ботов.</p>

<p>Свяжитесь с нами, чтобы обсудить ваш проект!</p>

</div>
<div class="github-widget">

    <img src="https://github-readme-stats.vercel.app/api?username=WhiteHodok&show_icons=true&theme=radical">

    <br>

    <img src="https://github-readme-stats.vercel.app/api?username=Qubicool&show_icons=true&theme=radical">
</div>

{% endblock content %}