{% extends "blog/base.html" %}
{% block content %}

<h1>Клуб двух разрабов</h1>

<img src="boiler.jpg" alt="Точка Кипелова">

<p>Мы занимаемся разработкой телеграм-ботов на aiogram и Pyrogram. В нашем портфолио есть несколько успешных проектов:</p>

<ul>
    <li>Бот-программа лояльности с элементами геймификации для НКО "Точка Кипения Омск"</li>
    <li>Информационный бот для компании "Рога и копыта"</li>
    <li>Бот-помощник для онлайн-магазина "Счастливый слон"</li>
</ul>

<p>Мы создаем ботов любой сложности, используя библиотеки aiogram и Pyrogram. Готовы взяться за интересные проекты в сфере чат-ботов.</p>

<p>Свяжитесь с нами, чтобы обсудить ваш проект!</p>

{% endblock content %}